@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: linear-gradient(180deg,#BA8F95,#CAB6CD);
    background-repeat: none;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex; 
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.item {
    border: none;
    border-radius: 30px;
    font-size: 20px;
    width: 75px;
    margin: 5px;
    padding: 25px;
    color: #344055;
    background-color: azure;
}

.text{
    border: 1px solid #000;background-color: #4e968f;
    color: #344055;
    border-radius: 30px 30px 0 0;
    border-bottom: none;
    width: 302px;
    height: 80px;
    padding: 20px 65px;
}

.input,
.input-upper {
    text-align: right;
}

.selected {
    background-color: #999;
}

.calculatorLayout {
    background-color: #639FAB;
    padding: 40px;
    border: 1px solid #000;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
}

.ac {
    width: 71.80%;
}
