@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    background-image: linear-gradient(180deg,#94a3b8 ,#cbd5e1);
    background-repeat: no-repeat;
    height: 100vh;
}

.add-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 4rem;
}

.add-button:hover {
    color: #111;
}


.modal .top {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.modal .top h1 {
    margin: 0;
}

.modal .top i {
    align-self: center;
    font-size: 2rem;
    color: #555;
}

.modal .content{
    position: absolute;
    background-color: #FFF;
    border-radius: 1rem;
    padding: 1rem 3rem;
    top: 20%;
    left: 40%;
}

.modal .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: .4;
    background-color: #000;
}

.modal input {
    display: flex;
    margin: 1rem;
    font-size: 1rem;
    padding: .7rem .7rem;
    flex-direction: column;
    border-radius: .5rem;
    border: 1px solid #475569;
}

.read {
    width: 100%;
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read input[type="checkbox"] {
    margin-left: .75rem;
    transform: scale(1.5);
}

.btn {
    cursor: pointer;
    color: #FFF;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #475569;
    padding: 1rem 2rem;
}

.clear-button {
    margin-bottom: 1rem;
}

#form-add {
    display: block;
    margin: 1rem auto .5rem;
    width: 100%;
}

.btn:hover {
    background-color: #334155;
}

.not-visible {
    display: none;
}

.upper h1 {
    margin-bottom: 0;
}

.upper p {
    margin-top: 1rem;
}

.upper {
    text-align: center;
    font-size: 2.5rem;
}

.lower {
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 0;
    width: 80%;
}

table tr,
table th,
table td {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #475569;
    color: #FFF;
}
