@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: "Roboto", sand-serif;
    margin: 0;
    padding: 0;
}

.head {
    background-color: #1F2937;
    color: #FFF;
}



/*----------  HEADER  ----------*/




.header {
    padding: 1% 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h1,
.header ul {
    padding: 0;
    margin: 0;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: white;
}


/*----------  UNDERHEAD  ----------*/

.underheader {
    padding: 5% 12.5% 10%;
    display: flex;
    flex-direction: row;
}

.underheader .right,
.underheader .left {
    width: 50%;
}

.right {
    display: flex;
    justify-content: center;
}

.right .placeholder {
    flex-grow: 1;
    margin-left: 20%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

.left h1 {
    margin: 0; 
    font-weight: 700;
    font-size: 48px;
}

.left button {
    font-weight: 700;
    background: none;
    border: none;
    color: #fff;
    background-color: #3882F6;
    padding: 12px 36px;
    font-size: 18px;
    border-radius: 10px;
}

.left p {
    line-height: 1.5;
}


/*----------  Info  ----------*/

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h1 {
    padding: 1.5% 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}

.info .items {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 12.5% 6%;
}

.info .item {
    flex: 1;
}

.items .placeholder {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.items p {
    width: 200px;
    color: #1F2937;
    text-align: center;
}


/*----------  quote  ----------*/

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 12.5%;
    background-color: #E5E7EB;
}

.text {
    text-align: left;
    width: 60%;
}

.text h1 {
    margin: 0;
    font-weight: 100;
    color: #1F2937;
    font-style: italic;
}

.text h4 {
    align-self: flex-start;
    color: #1F2937;
    text-align: right;
    font-size: 26px;
}