body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.block {
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}

.block:hover {
    background-color: #000;
}

.clicked {
    background-color: #000;
}